/*PAGINA COMENZAR PROYECTO*/

.contenedor__contacto {
  @include padding (10%, 10%, 5%,5%);
  iframe{
      width: 100%;
      height: 100%;
  }
  .comenzarProyecto__contenedorFormulario {
    @include padding (5%,5%,5%,5%);
  }   
}
.formularioBoton {
  @extend .index__contenedorLink__link;
  &:hover {
      color: $colorLink;
      background-color:$colorGenerico;
  }
}