$bordeBoton: #f037a5 solid 1px;
$colorFondoTitulo: rgba(26, 26, 24, 0.445);
$colorFondoFooter: #0e2c40;
$colorTextoNavbar:#2d46b9;
$colorLink:#f037a5;
$colorGenerico: #FFFFFF;

$estilos: (
    centro: center,
    tfuente: 100%,
    rborder: 5px,
);