/*FOOTER*/

.footer {
    background-color: $colorFondoFooter;
    @include padding (15%,20%,10%,10%);
}
  .footer__texto {
    color: $colorGenerico;
    font-size: map-get($estilos, tfuente);
}
  .footer__div__a__img {
    width: 50px;
    height: 50px;
}
  .footer__div__img {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
