/*HEADER*/
#header__navbar {
    background-color: $colorGenerico;
    @include padding (2%,2%,2%,2%);
}
#header__navbar #header__navbar__item :hover {
    color: $colorLink;
}
#header__navbar #header__navbar__a {
    color: $colorTextoNavbar;
    font-size: 120%; 
}