/*PAGINA DE INICIO*/

@mixin display-flex {
  display:flex;
  flex-direction: column;
  align-items: center;
}

@mixin padding ($paddingLeft, $paddingRight,$paddingTop,$paddingBotton) {
  padding-left: $paddingLeft;
  padding-right: $paddingRight;
  padding-top: $paddingTop;
  padding-bottom: $paddingBotton;
}

.index__contenedorDescripcion {
  @include display-flex ();
  @include padding (5%,5%,5%,5%);
    .index__titulo {
      text-align: map-get($estilos, centro);
      font-weight: map-get($estilos, negrita);
      font-size: map-get($estilos, tfuente3);
      font-family: $fontFamily;
    }
    .index__tituloDescripcion {
      text-align: map-get($estilos, centro);
      font-size: map-get($estilos, tfuente2);
      font-family: $fontFamily;
      @include padding (10%,10%,5%,5%);
  
  }
}

.index__contenedorLink__link {
  text-decoration: none;
  color: $colorGenerico; 
  font-size: map-get($estilos,tfuente);
  border: $bordeBoton;
  @include padding (7px,7px,7px,7px);
  border-radius: map-get($estilos,rborder);
  background-color: $colorLink;
  &:hover {
      color: $colorLink;
      background-color:$colorGenerico;
  }
}

.index__contenedorContacto {
  @include display-flex ();
  @include padding (5%,5%,5%,5%);
  background-color: $colorLink;
  .index__contenedorContacto__tituloContacto {
      @include padding (5%,5%,5%,5%);
      text-align: map-get($estilos, centro);
      color: $colorGenerico;
      font-family: $fontFamily;
  }    
}

.index__contenedorContacto__contenedorLink__link {
  @extend .index__contenedorLink__link;
  animation-name: animacionContacto;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes animacionContacto {
  0% {background-color: #f037a5}
  50% {background-color: #ba2727}
  100% {background-color: #1e3163;}
}