/*TITULO PRINCIPAL*/

.contenedorImagen{
    background-image: url(./../assets/ImagenPrincipal.PNG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .contenedorImagen {
        background-attachment: scroll;
    }
}

.contenedorTitulo__tituloPrincipal {
    @include padding (5%,5%,5%,5%);
    color: $colorGenerico;
    background-color: $colorFondoTitulo;
    text-align: map-get($estilos,centro);
}
