/*RESET*/
* {
    margin: 0;
    padding: 0;
}
/*Estilo general de la pagina*/
body {
    font-family: 'Open Sans', sans-serif;
}

@import "./estilosGenerales";
@import "./inicio";
@import "./header";
@import "./tituloPrincipal";
@import "./footer";
@import "./trabajos";
@import "./diseno3d";
@import "./comenzarProyecto";