/*RESET*/
* {
    margin: 0;
    padding: 0;
}
/*Estilo general de la pagina*/
body {
    background-color: #edf3e9;
    font-family: 'Open Sans', sans-serif;
}

/*Estilos para HEADER*/
header {
    display: flex;
    flex-direction: row;
    background-color: #808077;
    justify-content:space-around;
    grid-area: header;
}

.header__logo {
    padding: 1%;
}

.header__ul {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 60%;
}
.header__ul__li {
    display: inline; 
    list-style-type: none;
}
.header__ul__li__a {
    text-decoration: none;
    color: #FFFFFF; 
    font-size: 20px;
}
.header__ul__li :hover {
    color: #0e2c40;

}
/*PAGINA DE INICIO*/
/*LAYOUT*/
.index__grid {
    display:grid;
    grid-template-areas:
    "header header header"
    "tituloPrincipal tituloPrincipal tituloPrincipal"
    "diseño3d impresion3d trabajos"
    "contacto contacto trabajos"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 800px 500px 500px 200px;
    Grid-column-gap: 1%
}

.index__contenedorTitulo {
    background-image: url(https://creacion3d.com/wp-content/uploads/2019/07/Mejores-Impresoras-3D-calidad-precio.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display:flex;
    justify-content:start;
    align-items: center;
    grid-area: tituloPrincipal
}
.index__contenedorTitulo__tituloPrincipal {
    font-size: 80px;
    color: #FFFFFF;
    background-color: rgba(128, 128, 119, 0.445);
    width: 60%;
}

.index__contenedorLink {
    display:flex;
    background-color: #0e2c40;
    justify-content: center;
    align-items: center;
}

.index__contenedorLink :hover {
    color: #0e2c40;
    background-color:#FFFFFF;
}

.index__contenedorLink__link {
    text-decoration: none;
    color: #FFFFFF; 
    font-size:200%;
    border:#FFFFFF solid 1px;
    padding: 7px;
    border-radius: 5px;
}

#trabajos {
    grid-area: trabajos
}
#diseño3d {
    grid-area: diseño3d
}
#impresion3d {
    grid-area: impresion3d
}

.index__contenedorContacto {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: contacto;
}

.index__contenedorContacto__Titulo{
    font-size: 30px;
    text-align: center;
    padding:5%;
}

.index__contenedorContacto__contenedorLink :hover {
    color: #FFFFFF;
    background-color:#0e2c40;
}

.index__contenedorContacto__contenedorLink__link {
    text-decoration: none;
    color: #0e2c40; 
    font-size: 200%;
    border:#0e2c40 solid 1px;
    padding: 7px;   
    border-radius: 5px;
    animation-name: animacionContacto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animacionContacto {
    0% {background-color: #0e2c40}
    50% {background-color: #ba2727}
    100% {background-color: #7627ba;}
}

/*ESTILO TITULO PRINCIPAL*/
.contenedorTitulo {
    background-image: url(https://creacion3d.com/wp-content/uploads/2019/07/Mejores-Impresoras-3D-calidad-precio.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content:start;
    align-items: center;
    grid-area: tituloPrincipal
}

.contenedorTitulo__tituloPrincipal {
    font-size: 300%;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(128, 128, 119, 0.322);
}

/*PAGINA TRABAJOS*/
/*LAYOUT*/
.trabajos__grid {
    display:grid;
    grid-template-areas:
    "header header"
    "tituloPrincipal tituloPrincipal"
    "galeria1 galeria2"
    "footer footer";
    grid-template-columns:1fr 1fr;
    grid-template-rows: 80px 800px 800px 200px;
    Grid-column-gap: 1%
}

.trabajos__contenedorDescripcion {
    background-color: #0e2c40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.trabajos__contenedorDescripcion__contenedorImagen__Imagen {
    width: 500px;
}

#tituloTrabajos {
    grid-area: tituloTrabajos;
}
#galeria1 {
    grid-area: galeria1;
}
#galeria2 {
    grid-area: galeria2;
}

/*PAGINA DISEÑO 3D*/
/*LAYOUT*/
.diseño3d__grid {
    display:grid;
    grid-template-areas:
    "header header header"
    "tituloPrincipal tituloPrincipal tituloPrincipal"
    "paso1 paso2 paso3"
    "footer footer footer";
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 80px 800px 400px 200px;
    Grid-column-gap: 1%
}

.diseño3d__contenedorDescripcion__contenedorPaso {
    background-color: #0e2c40;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10%;
}

.diseño3d__contenedorDescripcion__contenedorPaso__paso {
    color: #FFFFFF; 
    font-size:200%;
}

.diseño3d__contenedorDescripcion__contenedorPaso__descripcionPaso {
    color: #FFFFFF; 
    font-size:100%px;
    text-align: left;
}

/*PAGINA IMPRESION 3D*/
/*LAYOUT*/
.impresion3d__grid {
    display:grid;
    grid-template-areas:
    "header header header"
    "tituloPrincipal tituloPrincipal tituloPrincipal"
    "paso1 paso2 paso3"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 800px 400px 200px;
    Grid-column-gap: 1%
}

.impresion3d__contenedorDescripcion__contenedorPaso {
    background-color: #0e2c40;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10%;
}

.impresion3d__contenedorDescripcion__contenedorPaso__paso {
    color: #FFFFFF; 
    font-size:200%;
}

.impresion3d__contenedorDescripcion__contenedorPaso__descripcionPaso {
    color: #FFFFFF; 
    font-size:100%px;
    text-align: left;
}

#paso1 {
    grid-area: paso1;
}
#paso2 {
    grid-area: paso2;
}
#paso3 {
    grid-area: paso3;
}

/*PAGINA COMENZAR PROYECTO*/
/*LAYOUT*/
.comenzarProyecto__grid {
    display:grid;
    grid-template-areas:
    "header header"
    "tituloPrincipal tituloPrincipal"
    "ubicacion formulario"
    "footer footer";
    grid-template-columns:1fr 1fr;
    grid-template-rows: 80px 800px 600px 200px;
}

.comenzarProyecto__ubicacion {
    grid-area:ubicacion;
    padding: 10%
}

iframe{
    width: 100%;
    height: 100%;
}

.comenzarProyecto__contenedorFormulario {
    grid-area:formulario;
    padding: 10%;
}

.comenzarProyecto__contenedorFormulario__formulario {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.comenzarProyecto__contenedorFormulario__tituloFormulario {
    font-size: 200%;
}

.comenzarProyecto__contenedorFormulario__datos {
    display:flex;
    flex-direction: column;
    justify-content: space-between
}

.contenedorBotonesFormulario{
    display:flex;
    justify-content: space-around;
}

.contenedorBotonesFormulario :hover {
    color: #FFFFFF;
    background-color:#0e2c40;
}
.botonesFormulario {
    text-decoration: none;
    color: #0e2c40; 
    font-size: 100%;
    border:#0e2c40 solid 1px;
    padding: 7px;   
    border-radius: 5px;
}

/*Estilos para FOOTER*/
footer {
    background-color: #808077;
    color: #FFFFFF;
    grid-area: footer;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.footer__div {
    text-align: center;
    font-size: 20px;
    padding-top: 2%;
}
.footer__div__a {
    text-decoration: none;
    color: #FFFFFF; 
    display: inline;
}
.footer__div__a__img {
    width: 50px;
    height: 50px;
    padding-top:10%;
}
.footer__div__img { 
    width: 80px;
    height: 80px;
    position: fixed;
    bottom:0px;
    right:0px;
}

/*RESPONSIVE*/
@media screen and (max-width: 768px) {
    .index__grid {
        display:grid;
        grid-template-areas:
        "header"
        "tituloPrincipal"
        "diseño3d"
        "impresion3d"
        "trabajos"
        "contacto"
        "footer";
        grid-template-columns:auto;
        grid-template-rows: 200px 600px 200px 200px 200px 500px 200px;
    }
    .header__ul {
        display:flex;
        flex-direction: column;
        align-items: end;
        width: 60%;
    }

    .trabajos__grid {
        display:grid;
        grid-template-areas:
        "header"
        "tituloPrincipal"
        "galeria1"
        "galeria2"
        "footer";
        grid-template-columns:auto;
        grid-template-rows: 200px 800px 800px 800px 200px;
    }

    .diseño3d__grid {
        display:grid;
        grid-template-areas:
        "header"
        "tituloPrincipal"
        "paso1"
        "paso2" 
        "paso3"
        "footer";
        grid-template-columns:auto;
        grid-template-rows: 200px 800px 400px 400px 400px 200px;
    }

    .impresion3d__grid {
        display:grid;
        grid-template-areas:
        "header"
        "tituloPrincipal"
        "paso1"
        "paso2"
        "paso3"
        "footer";
        grid-template-columns:auto;
        grid-template-rows: 200px 800px 400px 400px 400px 200px;
    }

    .comenzarProyecto__grid {
        display:grid;
        grid-template-areas:
        "header"
        "tituloPrincipal"
        "ubicacion"
        "formulario"
        "footer";
        grid-template-columns:auto;
        grid-template-rows: 200px 800px 800px 800px 200px;
    }   
}