/*RESET*/
* {
    margin: 0;
    padding: 0;
}
/*Estilo general de la pagina*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*Estilos para HEADER*/
#header__navbar {
    background-color: #FFFFFF;
    padding: 2%;    
}

#header__navbar__a {
    color: #2d46b9; 
    font-size: 120%;
}
#header__navbar__item :hover {
    color: #f037a5;
}

/*TITULO PRINCIPAL*/
.contenedorImagen{
    background-image: url(https://creacion3d.com/wp-content/uploads/2019/07/Mejores-Impresoras-3D-calidad-precio.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding-top: 10%;
    padding-bottom: 20%;
    height: 700px;
}

.contenedorTitulo__tituloPrincipal {
    color: #FFFFFF;
    background-color: rgba(128, 128, 119, 0.445);
    padding: 5%;
    text-align: center;
}

/*PAGINA DE INICIO*/
.index__contenedorDescripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.index__tituloDescripcion {
    text-align: center;
    padding: 10%;
    font-size: 200%
}

.index__contenedorLink {
    background-color:#FFFFFF;
}

.index__contenedorLink :hover {
    color: #f037a5;
    background-color:#FFFFFF;
}

.index__contenedorLink__link {
    text-decoration: none;
    color: #FFFFFF; 
    font-size: 100%;
    border:#f037a5 solid 1px;
    padding: 7px;
    border-radius: 5px;
    background-color:#f037a5;
}

.index__contenedorContacto {
    background-color:#f037a5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.index__contenedorContacto__tituloContacto{
    text-align: center;
    padding: 5%;
    font-size: 200%;
    color:#FFFFFF;
}

.index__contenedorContacto__contenedorLink__link {
    text-decoration: none;
    color: #FFFFFF; 
    font-size: 100%;
    border:#FFFFFF solid 1px;
    padding: 7px;   
    border-radius: 5px;
    animation-name: animacionContacto;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animacionContacto {
    0% {background-color: #f037a5}
    50% {background-color: #ba2727}
<<<<<<< HEAD
    100% {background-color: #7627ba;}
}

/*ESTILO TITULO PRINCIPAL*/
.contenedorTitulo {
    background-image: url(https://creacion3d.com/wp-content/uploads/2019/07/Mejores-Impresoras-3D-calidad-precio.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content:start;
    align-items: center;
    grid-area: tituloPrincipal
}

.contenedorTitulo__tituloPrincipal {
    font-size: 300%;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(128, 128, 119, 0.322);
}

/*PAGINA TRABAJOS*/
/*LAYOUT*/
.trabajos__grid {
    display:grid;
    grid-template-areas:
    "header header"
    "tituloPrincipal tituloPrincipal"
    "galeria1 galeria2"
    "footer footer";
    grid-template-columns:1fr 1fr;
    grid-template-rows: 80px 800px 800px 200px;
    Grid-column-gap: 1%
}

.trabajos__contenedorDescripcion {
    background-color: #0e2c40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.trabajos__contenedorDescripcion__contenedorImagen__Imagen {
    width: 500px;
}

#tituloTrabajos {
    grid-area: tituloTrabajos;
}
#galeria1 {
    grid-area: galeria1;
}
#galeria2 {
    grid-area: galeria2;
=======
    100% {background-color: #1e3163;}
>>>>>>> animaciones
}

/*PAGINA DISEÑO 3D*/
.diseño3d__contenedorDescripcion__contenedorPaso {
    background-color: #0e2c40;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10%;
}

.diseño3d__contenedorDescripcion__contenedorPaso__paso {
    color: #FFFFFF; 
    font-size:200%;
}

.diseño3d__contenedorDescripcion__contenedorPaso__descripcionPaso {
    color: #FFFFFF; 
    font-size:100%px;
    text-align: left;
}

/*PAGINA IMPRESION 3D*/
.impresion3d__contenedorDescripcion__contenedorPaso {
    background-color: #0e2c40;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10%;
}

.impresion3d__contenedorDescripcion__contenedorPaso__paso {
    color: #FFFFFF; 
    font-size:200%;
}

.impresion3d__contenedorDescripcion__contenedorPaso__descripcionPaso {
    color: #FFFFFF; 
    font-size:100%px;
    text-align: left;
}

/*PAGINA COMENZAR PROYECTO*/
.comenzarProyecto__ubicacion {
    padding: 10%
}

iframe{
    width: 100%;
    height: 100%;
}

.comenzarProyecto__contenedorFormulario {
    padding: 10%;
}

.comenzarProyecto__contenedorFormulario__formulario {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.comenzarProyecto__contenedorFormulario__tituloFormulario {
    font-size: 200%;
}

.comenzarProyecto__contenedorFormulario__datos {
    display:flex;
    flex-direction: column;
    justify-content: space-between
}

.contenedorBotonesFormulario{
    display:flex;
    justify-content: space-around;
}

.contenedorBotonesFormulario :hover {
    color: #FFFFFF;
    background-color:#0e2c40;
}
.botonesFormulario {
    text-decoration: none;
    color: #0e2c40; 
    font-size: 100%;
    border:#0e2c40 solid 1px;
    padding: 7px;   
    border-radius: 5px;
}

/*Estilos para FOOTER*/
.footer {
    background-color: #0e2c40;
    padding: 10%;
}

.footer__texto {
    color: #FFFFFF;
    font-size: 100%;
}

.footer__div__a__img {
    width: 50px;
    height: 50px;
}

.footer__div__img { 
    width: 70px;
    height: 70px;
    position: fixed;
    bottom:0px;
    right:0px;
}